[submodule "001"]
	path = 001
	url = git@github.com:morizotter/web100-001.git
[submodule "002"]
	path = 002
	url = git@github.com:morizotter/web100-002.git
[submodule "003"]
	path = 003
	url = git@github.com:morizotter/web100-003.git
[submodule "web100-004"]
	path = web100-004
	url = git@github.com:morizotter/web100-004.git
